<%- include('diseasesTop.ejs') %>
<style>
.activeDiseasesAddCategory {
    border-bottom: 5px solid rgb(99, 192, 104);
    font-weight: 600;
    color: rgb(134, 134, 134);
}
</style>

<form action="/addCategory" method="post" class="addCategoryBox" enctype="multipart/form-data">
    <div class="inputBox">
        <label for="" class="cat">Category Name</label>
        <input type="text" name="catName" class="input-box">
    </div>
    <div class="inputBox">
        <label for="" class="cat">Upload Image</label>
        <input type="file" name="catImage" style="border: none;" class="input-box">
    </div>
    <button class="save-button"><i class="fas fa-save pdspace"></i>SAVE DATA</button>
    <!-- <p class="error-message pdspace"><i class="fas fa-exclamation-triangle"></i> You need to fill all the fields</p> -->
</form>

<%- include('diseasedBottom.ejs') %>