<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>SPICYTECH</title>
</head>
<body>
    <div class="mainLoginContainer">
        <h1 class="loginMainTitle"><i style="font-style: italic;color: rgb(124, 199, 106);" class="fab fa-buysellads pdspace"></i> SPICYTECH</h1>
        <p>Login on to spicytech, to continue our service.</p>
        <form class="loginBox" action="/login" method="post">
            <div class="loginSubBox">
                <input type="text" id="username" name="username" class="loginInput" required>
                <label for="username" class="loginLabels">Username</label>
            </div>
            <div class="loginSubBox">
                <input type="password" id="password" name="password" class="loginInput" required>
                <label for="password" class="loginLabels">Password</label>
            </div>
            <button class="save-button" type="submit" style="width: 100% !important;"><i class="fas fa-sign-in-alt"></i> LOGIN</button>
        </form>
    </div>
</body>
</html>