<%- include('officerTop.ejs') %>

<style>
    .activeOfficerAllDetails {
        border-bottom: 5px solid rgb(99, 192, 104);
        font-weight: 600;
        color: rgb(134, 134, 134);
    }
</style>

<div class="officersMainBox">

    <div class="eachOfficersBox">
        <div class="officerImageMainBox">
            <img src="images/officer.jpg" alt="" class="officerProfilePic">
        </div>
        <h3 class="officerName">Officer Name</h3>
        <p class="officerDesignation">Designation</p>
        <p class="officerDesignation">Place</p>
    </div>

</div>

<%- include('officerBottom.ejs') %>